.App {
  text-align: center;
}

/* NAV STYLING  */
.Main-Nav {
  background-color: #FF6961;
  margin: 0 20% ;
  border-radius: 15px;
}

.Nav-Button {
  border-radius: 15px;
  background-color: azure;
  margin: 1%;
  height: 50px;
  width: 70px;
}

.Nav-Button:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

/* GENERAL PAGE STYLING  */
.page-Div{
  background-color: #FDFD96;
  margin: 0 20% 0 20%;
  border-radius: 15px;
  height: 92vh;
  display: flex;
  justify-content: center;
}

.page-Title{
  text-align: center;
}

/* FOOD STYLING  */

.food-Table{
  text-align: center;
}